<h1>Create Marking Page</h1>

<% if @marking_page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@marking_page.errors.count, "error") %> prohibited this marking_page from being saved:</h2>
 
    <ul>
    <% @marking_page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @marking_page do |f| %>

	<% p_num = 1 %>
	<%= f.fields_for :p_statements do |p| %>
		<!-- <%= p.select(:branch, options_for_select(%i[algebra data shape number])) %>
		<br>
		<%= p.collection_select(:statement, PStatement.all, :statement, :statement) %>
		<br>
		-->
		<%= p.label(:statement, "P #{p_num}") %>
		<%= p.text_field(:statement) %>
		<%= p.label(:i_statement, "I #{p_num}") %>
		<%= p.text_field(:i_statement) %>
		<br>
		<% p_num += 1 %>
	<% end %>
	<%= f.label(:count, "Sheets required") %>
	<%= f.text_field(:count, size: "5") %>
	<%= f.submit %>
<% end %>


